/* custom styles */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=Roboto&family=Roboto+Condensed:wght@300&family=Roboto+Slab&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  columns: rgb(14, 10, 10);
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-size: inherit;
}

ul {
  list-style: none;
}

.container,
.container-fluid {
  height: 100%;
}

.header {
  background-color: tomato;
  position: sticky;
  top: 0;
  z-index: 999;
}

.header-container {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}

.header-container .header-item {
  flex: 1 1 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.nav-item {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item > * {
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item .nav-link-text,
.nav-item .nav-icon {
  color: aliceblue;
}

.nav-item .nav-link-text {
  flex: 2;
  color: aliceblue;
}

.site-brand .logo {
  display: flex;
  align-items: center;
}

.site-brand .logo h1 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

.navbar .navbar-nav-no-toggle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.section-col {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 84%;
  margin: 0 auto;
  padding: 0 4px;
}

.intro-title {
  color: #fff;
  opacity: transparent;
  font-size: 1rem;
  text-align: center;
}

.search-box-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(248, 246, 246, 0.5);
  width: 100%;
  padding: 1.6em;
}

.key-word-search-label {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
}

.input-and-search-wrapper {
  display: flex;
  flex-flow: column nowrap;
}

.main-search-section .key-word-search-field {
  flex: 1;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.main-search-section .search-btn {
  background-color: tomato;
}

/* rule set for dropdown/ toggle menu */

.navbar-toggler {
  display: none;
}

.navbar-toggler-label {
  width: 100%;
  display: flex;
  align-items: center;
}

.navbar-toggler-label span,
.navbar-toggler-label span::before,
.navbar-toggler-label span::after {
  display: block;
  background: whitesmoke;
  width: 1.5em;
  height: 2px;
  border-radius: 3px;
}

.navbar-toggler-label span {
  position: relative;
}

.navbar-toggler-label span::before,
.navbar-toggler-label span::after {
  content: " ";
  position: absolute;
}

.navbar-toggler-label span::before {
  bottom: 0.5em;
}

.navbar-toggler-label span::after {
  top: 0.5em;
}

/* rule set for search section */

.main-search-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/montessori.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.search-procedure-link {
  color: black;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  padding: 0.25em;
  background-color: rgba(248, 246, 246, 1);
  margin: 1.5em 0;
}

/*
**********************
* MEDIA QUERY        *
**********************
*/

@media screen and (min-width: 768px) {
  .header-container {
    flex-direction: row;
  }

  .header-container .header-item {
    flex: 1 1 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .nav-item .nav-icon {
    margin-right: 0.3em;
  }

  .main-search-section {
    padding: 20em 0;
    height: 100%;
  }

  .header-item .logo a {
    padding-left: 3em;
  }

  .section-col {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 84%;
    margin: 0 auto;
    padding: 0 4px;
  }

  .input-and-search-wrapper {
    flex-flow: row nowrap;
  }

  .main-search-section .key-word-search-field {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .main-search-section .search-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

/*
***********************************
* RULE SETS FOR THE SCH LIST FILE *
***********************************
*/

.school {
  padding-top: 2em;
  padding-bottom: 2em;
}

.school .school-img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 992px) {
  .nav-item .nav-link-text,
  .nav-item .nav-icon {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .nav-item .nav-link-text,
  .nav-item .nav-icon {
    font-size: 2rem;
  }
}
